@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;1,300;1,400&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

:root{
    --padding-container:100px 0;
    --color-title: #001a49;
}

.container{
    width:90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow:hidden;
    padding: var(--padding-container);
}

/*front pages*/
.person{
    width:100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display:grid;
    grid-template-rows:100px 1fr;
    color: #fff;
}

.person::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url("../imagenes/wilderduarte_frontpage.jpg");
    background-size: cover;
    clip-path: polygon(100% 0, 100% 80%, 48% 100%, 0 80%, 0 0);
    z-index: -1;
}

/*Nav*/
.nav{
    --padding-container:0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav_title{
    font-weight: 300;
}

.nav_link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns:max-content;
    gap:2em;
}

.nav_items{
    list-style: none;
}
.nav_links{
    color:#fff;
    text-decoration: none;
}

.nav_menu{
    margin-left: auto;
    cursor:pointer;
    display: none;
}

.nav_img{
    display: block;
    width: 30px;
}
.nav_close{
    display: var(--show,none);
}

/*about*/

.about{
    text-align:center;
}

.subtitle {
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom:25px;
}

.about_paragraph{
    line-height:1.7;
}

.about_main{
    padding-top:80px;
    display:grid;
    width: 90%;
    margin:0 auto;
    gap:1em;
    overflow:hidden;
    grid-template-columns:repeat(auto-fit,minmax(260px,auto));
}

.about_icons{
    display:grid;
    gap:1em;
    justify-items: center;
    width:260px;
    overflow: hidden;
    margin:0 auto;
}

.about_icon{
    width: 40px;
}